/*------- Search section -------*/
.all-products
{
	margin: 40px 0;
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
}
/*------- Book-list section -------*/
.row
{
	margin: 30px 0;
}
.img-fluid
{
	box-shadow: 5px -5px 8px #888888;
	border-radius: 3%;
}
a, a:hover {
	color: inherit !important;
}

.book-animated
{
	position:relative;
}
.overlay
{	
	justify-content: flex-end;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	border-radius: 3%;
	overflow: hidden;
	height: 0;
	transition: .5s ease;
}
.share-group
{
	padding-bottom: 10px;
}
.book-animated:hover .overlay
{	
	height: 100%;
	width: 100%;
	opacity: .7;
}
.book-animated:hover
{
	transform: translateY(-10px);
	transition: .5s ease;
}
