.shopping-cart-title
{
  font-size: 40px !important;
  margin: 40px 0;
  color: #343a40 !important;
  font-family: 'Roboto Slab', serif;
}
.common-form
{
	box-shadow: 2px -2px 10px #ced4da;
	border-radius: 15px;
	border: 1px solid #ced4da;
	margin-top: 20px;
	padding: 20px;
}
.small-image
{
	width: 15%;
	height: 15%;
	margin-right: 20px;
}
.book-info-detail
{
	margin-bottom: 10px;
	font-size: 14px;
	font-style: italic;
	color: gray;
}
.book-name
{
	margin-top: 20px;
	margin-bottom: 2px;
}
.price
{
	margin-right: 15px;
}
.total-bill
{	
	border-bottom: 1px solid #ced4da;
	margin-bottom: 20px;
}
.summary-title
{
	margin-bottom: 10px;
	font-size: 20px;
	font-style: italic;
	color: gray;
	font-weight: 700;
}

.button-container {

position: relative;
}

.button-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block {
	display: block;
	width: 100%;
	border: none;
	background-color: #343434;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }
  
  .block:hover {
	background-color: #ddd;
	color: black;
  }