{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!------------- Book detail section ------------------->
    <section id="book-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<img src="{% static book.get_image_path %}" class="img-fluid book-style">
                </div>
                 <div class="col-sm-6">
                	<p class="author">{{book.book_name}}</p>
                    <!-- <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div> -->
                	<div class="d-flex flex-row price">
                		<p class="sale-price">{{book.price}} ₺</p>
                		<!-- <p class="origin-price">$208</p> -->
                	</div>
                	<div class="full-description">
                		<p>{{book.publisher}}</p>
                		<p class="condition">Stok Miktarı: <span>{{book.stocks}}</span></p>
                	</div>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'cart:shopping-cart' book.id %}" method="POST">
                        <!-- {% csrf_token %} -->
                        <div class="d-flex flex-row add-button">
                        <button class="btn btn-dark btn-lg flex-grow-1" href="{% url 'cart:shopping-cart' book.id %}">Sepete Ekle</button>
                    {% else %} 
                         <p>Please <a href="{% url 'account:login' %}?next={{ request.path }}">log in</a> to add items to your cart.</p>
                    {% endif %}
                    <button class="btn btn-light btn-lg flex-grow-2">Favoriler</button>
                    </div>
                    </form>
                	<div class="more-details">
            			<p class="font-weight-bold">Kategori:<span class="font-weight-normal">{{book.category}}</span></p>
            			<!-- <p class="d-flex flex-row font-weight-bold">Share: <span>
            				<i class="fa fa-facebook-square"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-github"></i>
            			</span> </p> -->
                	</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}