{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!------------- Book detail section ------------------->
    <section id="book-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<img src="{% static book.get_image_path %}" class="img-fluid book-style">
                </div>
                 <div class="col-sm-6">
                	<p class="author">{{book.book_name}}</p>
                    <!-- <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div> -->
                	<div class="d-flex flex-row price">
                		<p class="sale-price">{{book.price}}</p>
                	</div>
                	<div class="full-description">
                		<p>{{book.publisher}}</p>
                		<p class="condition">Stok Miktarı: <span>{{book.stocks}}</span></p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'cart:add_to_cart' book.id %}" method="POST">
                        {% csrf_token %} 
                        <div class="d-flex flex-row add-button">
                        <button class="btn btn-dark btn-lg flex-grow-1" href="{% url 'cart:add_to_cart' book.id %}">Sepete Ekle</button>
                    {% else %} 
                         <p>Lütfen<a href="{% url 'account:login' %}?next={{ request.path }}"> giriş yapınız</a> sepete ürün eklemek için.</p>
                    {% endif %}
                    </form>

                    {% if request.user.is_authenticated %}
                    <form action="{% url 'cart:favs' book.id %}" method="POST">
                        {% csrf_token %}
                    <button class="btn btn-light btn-lg flex-grow-2" href="{% url 'cart:favs' book.id %}">Favoriler</button>
                    {% else %} 
                         <p>Lütfen <a href="{% url 'account:login' %}?next={{ request.path }}">giriş yapınız</a> favorilere ürün eklemek için.</p>
                    {% endif %}
                    </form>
                    </div>
                   
                	<div class="more-details">
            			<p class="font-weight-bold">Kategori:<span class="font-weight-normal">{{book.category}}</span></p>
                        <div class="product-reviews">
                            {% for rs in comments %}
                                </div>{{data.subject}}</div>
                                <div class="single-review">
                                    <div class="review-heading">
                                        <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.user.name }}</a> </div>
                                        <div><b>{{ rs.subject }}</b> </div>
                                        <div><a href="#"><i class="fa fa-clock-o"></i> {{ rs.create_at}}</a></div>

                                        <div class="review-rating pull-right">
                                            <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                        </div>
                                    </div>
                                    <div class="review-body"><b>{{rs.subject}}</b>
                                        <p>{{ rs.comment }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            <ul class="reviews-pages">
                                <li class="active">Harika bir ürün</li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">Bizi Değerlendirin</h4>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <form class="review-form" action="/books/addcomment/{{ book.id }}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="subject" class="input" type="text" placeholder="Konu" />
                        </div>
                        <div class="form-group">
                            <textarea name="comment" class="input" placeholder="Yorumunuzu giriniz"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-rating">
                                <strong class="text-uppercase">Puanınız: </strong>
                                <div class="stars">
                                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                </div>
                            </div>
                        </div>
                        {% if user.id is not None %}
                            <button class="primary-btn">Gönder</button>
                        {% else %}
                            Yorum yapmak için giriş yapınız.
                        {% endif %}
                    </form>

            			<!-- <p class="d-flex flex-row font-weight-bold">Share: <span>
            			<p class="font-weight-bold">Categories:<span class="font-weight-normal">Adventure, Biographic, Children</span></p>
            			<p class="d-flex flex-row font-weight-bold">Share: <span>
            				<i class="fa fa-facebook-square"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-github"></i>
            			</span> </p>-->
                	</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
