{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!------------- Search section ------------------->
    <div class="header-search">
        <form action="/search/" method="post">
            {% csrf_token %} 
            <input name="query" class="input search-input" type="text" placeholder="Enter your keyword">


            <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!------------- Book-list section ------------------->
    <section id="book-list">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% if books %}
                      {% for book in books %}
                            <div class="book-animated text-center">
                            <img src="{% static book.get_image_path %}" class="img-fluid">
                            <a href="{% url 'books:detail' book.id %}">
                            <div class="overlay d-flex flex-column">
                                <h2 class="font-weight-bold">BOOK</h2>
                                <p>{{book.book_name}},{{book.author}},{{book.publisher}}</p>
                                <div class="d-flex flex-row share-group">
                                <i class="fa fa-facebook-square fa-lg flex-grow-1"></i>
                                <i class="fa fa-instagram fa-lg flex-grow-2"></i>
                                <i class="fa fa-github fa-lg flex-grow-1"></i>
                                </div>
                            </div>
                            </a>
                            </div>
                       {% endfor %}
                    {% else %}
                        <div class="aler alert-warning">
                            <p>
                                No books
                            </p>
                        </div>

                    {% endif %}
                </div>   
            </div>        
        </div>
    </section>
{% endblock %}