{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!------------- Banner section ------------------->
    <section id="banner">
        <div class="container-fluid">
            <img src="#" class="mx-auto d-block img-fluid">
             <a href="{% url 'books:product' %}"><button type="button" class="btn btn-dark btn-lg button-spacing">Alışverişe Başla</button></a> <!-- product html gelecek -->
        </div>
    </section>
    <!------------- Book-preview section ------------------->
    <section id="book-preview">
        {% for book in books|slice:":2" %}
        <div class="container-fluid container-spacing">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="{% static book.get_image_path %}" style="width:200px ;" class="img-fluid">
                    <h2 class="book-title">{{book.book_name}}</h2>
                    <p class="description">{{book.author}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}