{% extends 'base.html' %}
{% block content %}

    <!------------- Banner section ------------------->
    <section id="banner">
        <div class="container-fluid">
            <img src="#" class="mx-auto d-block img-fluid">
             <a href="{% url 'books:product' %}"><button type="button" class="btn btn-dark btn-lg button-spacing">Get Started</button></a> <!-- product html gelecek -->
        </div>
    </section>
    <!------------- Book-preview section ------------------->
    <section id="book-preview">
        <div class="container-fluid container-spacing">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="images/book-1.jpg" class="img-fluid">
                    <h2 class="book-title">NHÀ GIẢ KIM</h2>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="images/book-2.jpg" class="img-fluid">
                    <h2 class="book-title">ĐẮC NHÂN TÂM</h2>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="images/book-3.jpg" class="img-fluid">
                    <h2 class="book-title">LƯỢC SỬ LOÀI NGƯỜI</h2>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.</p>
                </div>
            </div>
        </div>
    </section>
    <!------------- State section ------------------->
    <section id="state">
        <div class="container-fluid container-spacing text-center">
            <h1 class="library-title">MAGNILOQUENT STATE</h1>
            <p class="state-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.</p>
            <img src="images/library.jpg" class="img-fluid">
        </div>
    </section>
    <!------------- Question section ------------------->
    <section id="question">
        <div class="container-fluid container-spacing text-center">
            <h1 class="library-title">HEARD ENOUGH?</h1>
            <p class="state-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at odio fringilla suscipit ac et ligula. Morbi bibendum erat ac porta facilisis.</p>
            <button type="button" class="btn btn-outline-primary btn-lg">Get Started</button>
        </div>
    </section>
{% endblock %}