{% extends 'base.html' %}
{% block content %}

    <!------------- Shopping cart section ------------>
    <section id="shopping-cart">
        <div class="container">
            <h1 class="text-center shopping-cart-title">Hesabım</h1>
            <div class="row" style="margin-bottom: 30px; margin-top: 50px; justify-content: center;">
                <div class="col-md-6">
                    <form action="{% url 'orders:order_details' %}">

                        <button class="block">Bilgilerim</button>

                    </form>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;  justify-content: center; ">
                <div class="col-md-6">
                    <form action="{% url 'orders:orders' %}">

                        <button class="block">Siparişlerim</button>

                    </form>
                </div>
            </div>

            <div class="row" style="margin-bottom: 50px;  justify-content: center;">
                <div class="col-md-6">
                    <form action="{% url 'orders:order_details' %}">

                        <button class="block">Taleplerim</button>

                    </form>
                </div>
            </div>

            <div class="button-container">
                <div class="button-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #343a40;">Çıkış Yap</button>
                </div>
            </div>

        </div>
    </section>
{% endblock %}